composer.phar
/vendor/
.DS_Store

## Directory-based project format:
.idea/
/nbproject

# PHP CS Fixer cache file
.php_cs.cache
cghooks.lock

# PHPUnit reports (for convenience when working locally)
reports

# PHPUnit result cache
.phpunit.result.cache

# Local environment variables
/.env.local
/.env.*.local
