<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="./tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        processIsolation="false"
        stopOnFailure="false"
        cacheDirectory="./var/.phpunit.cache"
        backupStaticProperties="false">
  <coverage>
    <report>
      <html outputDirectory="./var/coverage/"/>
    </report>
  </coverage>
  <php>
    <env name="XDEBUG_MODE" value="coverage"/>
  </php>
  <testsuites>
    <testsuite name="BigBlueButton test suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
